# Auto detect text files and perform LF normalization
* text=auto
Assets/Downloaded\ Assets/** linguist-vendored
Packages/** linguist-generated
Assets/LowPolyDungeonsLite/** linguist-vendored
Assets/TextMesh\ Pro/** linguist-generated
